{% extends 'base.html' %}

{% block head %} 
    
{% endblock %}

{% block body %} 
    <div >
        <div class="jumbotron vh-100">
            <h1 class="display-4"><b>Student Management System</b></h1>
            <p class="lead"><b>This is a simple unit for Storing, Modifying And Retrieving the Students Record.</b></p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/studAdd" role="button">Add Student</a> 
              <a class="btn btn-primary btn-lg" href="/listStud" role="button">List of Student</a>
            </p>
          </div>
    </div>


{% endblock %}